.hidden {
  display: none !important;
}

.container {
  padding: 0.5rem 2rem;
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-half {
  flex-basis: 50%;
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-three-fourths {
  flex-basis: 75%;
}
