body {
  background-color: #212121;
  font-family: "Roboto Slab", serif;
  width: 100%;
  color: white;
}

h1 {
  font-family: "RocknRoll One", sans-serif;
  font-size: 1.25rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.25rem;
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
}

h4 {
  font-size: 0.65rem;
  margin-top: 0.25rem;
  font-weight: 300;
}

h5 {
  font-weight: 400;
  text-align: center;
  font-size: 0.75rem;
  color: black;
}

p {
  font-size: 0.75rem;
  font-weight: 300;
}

input {
  margin-top: 0.75rem;
  border-radius: 7px;
  width: 80%;
  height: 1.55rem;
  border: none;
}

form {
  width: 100%;
}

img {
  margin-top: 2rem;
  width: 14rem;
  height: 21rem;
  border-radius: 5px;
  border: 1px solid white;
  object-fit: fill;
}

span {
  font-size: 0.75rem;
  font-weight: 300;
}

a {
  background-color: #23262a;
  font-family: roboto, sans-serif;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

.search {
  width: 70%;
  margin: auto;
  justify-content: center;
}

.fa-xmark {
  color: white;
  text-align: center;
  padding-left: 0.5rem;
}

.fa-xmark:hover {
  cursor: pointer;
}

.fa-magnifying-glass {
  color: white;
  position: relative;
  top: 0.45rem;
  font-size: 1.1rem;
}

.home {
  justify-content: center;
  width: 100%;
}

.text-center {
  text-align: center;
  margin: auto;
}

.fa-btn {
  position: relative;
  width: 0;
  margin-left: 1px;
  background: none;
  border: none;
}

#nav-header:hover {
  cursor: pointer;
}

#list {
  font-size: 0.75rem;
  text-align: center;
}

#list:hover {
  cursor: pointer;
}

.nav-content {
  justify-content: center;
}

header {
  background-color: #23262a;
}

header h2 {
  font-size: 0.75rem;
  text-align: left;
}

header .row {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header .search {
  width: 80%;
}

header input {
  position: relative;
  bottom: 0.3rem;
}

header button {
  margin-right: auto;
  bottom: 0.3rem;
}

header .fa-magnifying-glass {
  font-size: 1rem;
}

[data-view="home-page"] {
  margin-top: 30vh;
}

.movie-page-img {
  width: 16rem;
  height: auto;
}

.page-text-container {
  margin: auto;
  width: 16rem;
  display: inline-block;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
}

.text {
  padding-bottom: 0.25rem;
}

.margin-auto {
  margin: auto;
}

.btn-container {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.fa-plus {
  font-size: 1.25rem;
}

.fa-minus {
  padding: 0.15rem;
  background-color: #292828;
  font-size: 0.95rem;
  border-radius: 15px;
  width: 1.1rem;
  height: 1.1rem;
}

.fa-check {
  padding: 0.01rem;
  color: black;
  background-color: white;
  border-radius: 15px;
  font-size: 0.95rem;
  width: 1rem;
  height: 1rem;
}

[data-view="movie-page"] {
  height: 107vh;
}

.view-list-btn {
  margin-top: 1.5rem;
  width: 100%;
}

.list-close-container {
  display: flex;
  justify-content: start;
}

.modal::before {
  content: "";
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.modal-box {
  width: 14rem;
  position: fixed;
  display: inline-block;
  background-color: #d9d9d9;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.modal-btn {
  justify-content: center;
  height: 3rem;
}

.yes {
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  background-color: #a62625;
  margin-right: 1rem;
}

.no {
  padding: 0.25rem 0.75rem;
  margin-left: 1rem;
  background-color: #5c5959;
  border-radius: 3px;
}

@media only screen and (min-width: 768px) {
  a {
    font-size: 0.75rem;
    padding: 0.5rem 1.25rem;
  }

  h1 {
    display: inline;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    padding-left: 0.8rem;
    font-size: 0.75rem;
    display: inline;
  }

  h5 {
    font-size: 1rem;
  }

  span,
  .label,
  p {
    font-size: 1rem;
  }

  .modal-box {
    width: 17rem;
  }

  .yes {
    font-size: 0.8rem;
  }

  .no {
    font-size: 0.8rem;
  }

  [data-view="movie-page"] {
    margin-top: 0.25rem;
    height: 100vh;
  }

  .movie-page-img {
    width: 100%;
  }

  .page-text-container {
    padding-left: 1rem;
    margin-top: 2rem;
    width: 100%;
  }

  .middle-detail-content {
    margin-top: 1rem;
    width: 80%;
  }

  .text {
    margin-top: 0.05rem;
  }

  .fa-xmark {
    font-size: 1.25rem;
  }

  #nav-header {
    font-size: 1rem;
  }

  .column-one-fourth {
    width: 25%;
  }

  .column-three-fourths {
    width: 75%;
  }

  .movie-all-text {
    justify-content: center;
  }

  .btn-container {
    width: 3.25rem;
    height: 3.25rem;
    margin-top: 2rem;
    justify-content: start;
  }

  .fa-plus {
    font-size: 1.5rem;
  }

  .fa-check {
    padding: 0.15rem;
    font-size: 1rem;
    width: 1.35rem;
    height: 1.35rem;
  }

  .fa-minus {
    padding: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.25rem;
  }

  .search {
    width: 45%;
  }

  #list {
    font-size: 0.9rem;
  }
}
