body {
  background-color: #212121;
  font-family: "Roboto Slab", serif;
}

h2 {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
}

.search {
  margin: auto;
  width: 80%;
  justify-content: center;
}

input {
  margin-top: 0.75rem;
  border-radius: 7px;
  width: 90%;
  height: 1.55rem;
  border: none;
}

i {
  color: white;
  position: relative;
  top: 0.45rem;
  left: 0.5rem;
  font-size: 1.1rem;
}

form {
  width: 100%;
}

.home {
  justify-content: center;
  width: 100%;
}

.text-center {
  text-align: center;
}

.fa-btn {
  position: relative;
  background: none;
  border: none;
  padding: 0;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-half {
  width: 50%;
}

.column-one-fourth {
  width: 25%;
}

header {
  background-color: #23262a;
}

header h2 {
  font-size: 1.25rem;
}

header .row {
  justify-content: space-between;
  align-items: center;
}

header input {
  position: relative;
  width: 90%;
  bottom: 0.3rem;
}

header button {
  bottom: 0.3rem;
}

main > .container > .row {
  margin-top: 35vh;
}
